<nav
  class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sanjay</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="project">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="galary">Galary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="https://www.linkedin.com/in/sanjay-khatri-90317021b/"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="https://github.com/Khatri-Sanjay"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a
            class="nav-link text-dark h5"
            href="https://www.facebook.com/sanjay.khatri.180410"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
