<div class="container text-center py-3">
  <p>Connect with me</p>

  <div class="social-icons">
    <a href="https://www.facebook.com/sanjay.khatri.180410" target="_blank"
      ><i class="fab fa-facebook me-4" style="color: blue;"></i
    ></a>
    <a
      href="https://www.instagram.com/-sanjay.khatri?igshid=YjM2YjNmNDA="
      target="_blank"
      ><i class="fab fa-instagram me-4" style="color: orangered;"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/sanjay-khatri-90317021b/"
      target="_blank"
      ><i class="fab fa-linkedin me-4" style="color: blue;"></i
    ></a>
    <a
      href="https://www.snapchat.com/add/sanjay-khatri21?share_id=CPJQAULkRBw&locale=en-GB"
      target="_blank"
      ><i class="fab fa-snapchat me-4" style="color: yellow;"></i
    ></a>
    <a href="https://github.com/Khatri-Sanjay" target="_blank"
      ><i class="fab fa-github me-4" style="color: black;"></i
    ></a>
  </div>
</div>
