<div class="container">
  <div class="row">
    <h1>My Galary</h1>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <a href="../../assets/images/000000.jpg" target="_blank"
        ><img
          src="../../assets/images/000000.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
      </a>
      <a
        href="../../assets/images/IMG-1c25de020b17b78e4297fa729d9f46c3-V.jpg"
        target="_blank"
      >
        <img
          src="../../assets/images/IMG-1c25de020b17b78e4297fa729d9f46c3-V.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Wintry Mountain Landscape"
        />
      </a>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <a href="../../assets/images/IMG_1545.jpeg">
        <img
          src="../../assets/images/IMG_1545.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Mountains in the Clouds"
        />
      </a>
      <a href="../../assets/images/IMG_20190524_160510-1.jpg" target="_blank">
        <img
          src="../../assets/images/IMG_20190524_160510-1.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
      </a>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <a href="../../assets/images/1.jpg" target="_blank">
        <img
          src="../../assets/images/1.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Waves at Sea"
        />
      </a>

      <a
        href="../../assets/images/IMG-6b9af3293d2309248a35115f2370876e-V.jpg"
        target="_blank"
      >
        <img
          src="../../assets/images/IMG-6b9af3293d2309248a35115f2370876e-V.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </a>
    </div>
  </div>
</div>
