<!-- skills -->

<div class="container bg-white py-3">
  <div class="row">
    <p class="">Skills:</p>
    <div class="col-md-3 text-center">
      <i class="fab fa-html5"></i>
      <!-- <h2>88%</h2> -->
      <h3>HTML</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-css3-alt"></i>
      <!-- <h2>94%</h2> -->
      <h3>CSS3</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-js-square"></i>
      <!-- <h2>55%</h2> -->
      <h3>Javascript</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-php"></i>
      <!-- <h2>68%</h2> -->
      <h3>PHP</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-angular"></i>
      <!-- <h2>68%</h2> -->
      <h3>Angular</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-bootstrap"></i>
      <!-- <h2>68%</h2> -->
      <h3>Bootstrap</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-python"></i>
      <!-- <h2>68%</h2> -->
      <h3>Python</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-java"></i>
      <!-- <h2>68%</h2> -->
      <h3>JAVA</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-c#"></i>
      <!-- <h2>68%</h2> -->
      <h3>C#</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-c"></i>
      <!-- <h2>68%</h2> -->
      <h3>C programming</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-reactnative"></i>
      <!-- <h2>68%</h2> -->
      <h3>React Native</h3>
    </div>
    <div class="col-md-3 text-center">
      <i class="fab fa-Typescript"></i>
      <!-- <h2>68%</h2> -->
      <h3>C programming</h3>
    </div>
  </div>
</div>
