p {
    font-weight: 700;
    color: #20247b;
    font-size: 25px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 35px;
}
h2 {
    padding-left: 20px;
}

h6 {
    padding-left: 5px;
}

.col-md-3 {
    background: rgba(255, 255, 255, 0.37);
    flex: 0 0 23.55%;
    margin: 8px;
    padding: 30px;
}

.row {
    padding-top: 20px;
}

.fab {
    font-size: 80px;
    color: #154360;
}

@media(max-width: 992px) {
    .col-md-3 {
        margin: 5px;
    }
}

@media(max-width: 672px) {
    #top {
        height: 100%;
    }
    .col-md-3 {
        flex: 0 0 47.4%;
        margin: 5px auto;
    }
    .row {
        padding: 10px;
    }
}

@media(max-width: 425px) {
    .col-md-3 {
        flex: 0 0 99.4%;
        margin: 20px auto;
    }
}